<template>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img :src="item.snippet.thumbnails.medium.url"
                class="card-img-top"
                alt="..."
                height="180px"
                width="320px">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">{{ item.snippet.title }}</h5>

                    <p class="card-text" v-if="!showDescription">{{ item.snippet.description.length > 80 ? item.snippet.description.substr(0, 80) + "..." : item.snippet.description }}</p>
                    <p class="card-text" v-if="showDescription">{{ item.snippet.description }}</p>

                    <a href="#" @click.prevent="toggleDescription" v-if="!showDescription">MOSTRAR MÁS</a>
                    <a href="#" @click.prevent="toggleDescription" v-if="showDescription">MOSTRAR MENOS</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "VideoPreview",
    props: {
        item: {}
    },
    data: () => {
        return {
            showDescription: false,
        }
    },
    methods: {
        toggleDescription(){
            this.showDescription = !this.showDescription;
        }
    }
}
</script>

<style scoped>
    .card {
        max-width: 900px;
        min-width: 900px;
        max-height: 180px;
        min-height: 180px;
    }
    div > a {
        text-decoration: none;
        color: #181818;
        display: inline-block;
        font-size: 1.0rem;
        font-weight: 500;
        letter-spacing: 0.007px;
        text-transform: uppercase;
    }
</style>