<template>
    <div>
        <h1>Buscar videos</h1>

        <div class="form-group">
            <div class="input-group">
                <input type="text" v-model="search" class="form-control" @keyup.enter="getSearchVideosFromApi" placeholder="Buscar" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button @click="getSearchVideosFromApi" class="btn btn-outline-secondary" type="button">Buscar</button>
                </div>
            </div>
        </div>

        <span v-if="showNotResultsFoundMsg"><p>No se han encontrado resultados.</p></span>

        <div v-for="item in items" v-bind:key="item.title">
            <VideoPreview :item="item"/>
        </div>

        <Observer v-on:intersected="getNextPageVideosFromApi"/>
    </div>
</template>

<script>
import { searchVideos } from '../api/YoutubeSearchApi';
import VideoPreview from './VideoPreview';
import Observer from './Observer';

export default {
    name: 'YoutubeSearch',
    components: {
        VideoPreview,
        Observer
    },
    data: () => {
        return {
            search: "",
            currentSearch: "",
            items: [],
            nextPage: "",
            showNotResultsFoundMsg: false
        }
    },
    methods: {
        async getSearchVideosFromApi() {
            this.showNotResultsFoundMsg = false;
            if(!this.search) return;

            this.nextPage = "";
            this.items = [];

            const { data } = await searchVideos(this.search, this.nextPage);

            if(!data.items.length){
                this.showNotResultsFoundMsg = true;
            }

            this.items = data.items;
            this.nextPage = data.nextPageToken
            this.currentSearch = this.search;
        },

        async getNextPageVideosFromApi(){
            if(this.nextPage && this.currentSearch){
                const { data } = await searchVideos(this.currentSearch, this.nextPage);
                this.items = [...this.items, ...data.items];
                this.nextPage = data.nextPageToken;
            }
        },
    }
}
</script>

<style scoped>
    .input-group {
        min-width: 900px;
    }
</style>