<template>
  <div id="app">
    <div class="container">
      <div class="d-flex justify-content-center">
        <YoutubeSearch/>
      </div>
    </div>
  </div>
</template>

<script>
import YoutubeSearch from './components/YoutubeSearch.vue'

export default {
  name: 'App',
  components: {
    YoutubeSearch
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
